@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&family=Gayathri:wght@400;700&family=Roboto:wght@400;700&family=Share+Tech+Mono&display=swap');

:root {
  font-family: "Cairo", "sans-serif";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --dark: #242424;


  --bg1: #16a085;
  --bg2: #8e44ad;
  --cell: #ecf0f1;
  --action: #2c3e50;

  --link: #ffb142;
  --text-light: rgba(255, 255, 255, 0.87);
  --text-dark: rgba(0, 0, 0, 0.87);
  --alt-text-light: #555;
  --alt-text-dark: #333;
  --cell-border: #333;


  --github: #25292E;
  --linkedin: #0077B5;

}
  
  
@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  
  to {
    background-position: -200% center;
  }
}

body {
  animation: background-pan 25s linear infinite;
  background: linear-gradient(to right, var(--bg1), var(--bg2), var(--bg1));
  background-size: 200%;
  width: 100vw;
  height: 100vh;
  margin: 0;
}